.container{
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 8%;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 30px;
}

.menuBtn{
    margin-right: 100px;
    margin-left: auto;
}

.title{
    font-size: medium;
    font-weight: 500;
}

.surveyCard{
    left: 400px;
    margin: 20px;
    width: 650px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    /* left: 35000px; */
    flex-wrap: wrap;
    align-content: center;
}