<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Survey App</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menuBtn">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/survey-history">
        <mat-icon>list</mat-icon>
        <span>Survey History</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <h1>Survey Questions</h1>
</div>